<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="register.css">
    <title>Login</title>
  </head>
  <body>
    <div class="container d-flex justify-content-center aign-items-center mt-5">
      <div class="row">
	<div class="col-md-6 offset-md-3">
	  <div class="card shadow">
	    <img src="https://images.unsplash.com/photo-1571637928003-0ed17e03786f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=282&q=80" alt="Image of a cactus type plant kept in a place where background colour is orange." class="card-img-top" id="card-img">
	    <div class="card-body">
	      <h5 class="card-title">Login</h5>
	      <form action="/login" method="POST" class="validated-form" novalidate>
		<div class="mb-3">
		  <label class="form-label" for="username">User name: </label>
		  <input class="form-control" id="username" type="text" name="username" required autofocus>
		  <div class="valid-feedback"> Looks good
		  </div>
		</div>
		<div class="mb-3">
		  <label class="form-label" for="password">Password: </label>
		  <input class="form-control" id="password" type="password" name="password" required>
		  <div class="valid-feedback">Looks good
		  </div>
		</div>
		<button class="btn btn-success btn-block mt-3">Log In</button>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
	    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
	    crossorigin="anonymous"></script>
  </body>
</html>
